/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header .tagline {
    font-size: 1em;
    margin-top: 5px;
}

#about, #projects, #contact {
    padding: 20px;
    background: white;
    margin: 20px auto;
    max-width: 800px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#about img {
    border-radius: 50%;
    max-width: 150px;
    height: auto;
    display: block;
    margin: 10px auto;
}
.about-container img{
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.project-item img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}


.projects-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.project-item {
    background: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.project-item h3 {
    margin-top: 0;
    font-size: 1.2em;
}

#contact {
    text-align: center;
}

#contact a {
    color: #4CAF50;
    text-decoration: none;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}
